.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button {
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    
    .container {
      padding-top: 380px; /* Increase padding for mobile devices */
    }
  }