/* ItemsPage.module.css */

.container {
  padding: 20px;
  padding-top: 40px; /* Adjust to match header height */
  background-color: #ede7e7;
  margin-top: 0; /* Ensure no additional margin */
  height: auto; /* Remove fixed height */
  min-height: calc(100vh - 60px); /* Ensure container takes full viewport height */
  box-sizing: border-box; /* Ensure padding is included in height calculation */
}

.addItemButton {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addItemButton:hover {
  background-color: #005bb5;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.itemCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.itemCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.itemImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-bottom: 2px solid #e0e0e0;
  box-sizing: border-box;
}

.itemName {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.itemDescription {
  font-size: 1rem;
  color: #666;
  margin: 0 0 10px 0;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPrice {
  font-size: 1.25rem;
  color: #ff6f61;
  margin: 10px 0;
  font-weight: bold;
}

.postedDate {
  font-size: 0.875rem;
  color: #999;
  margin: 10px 0;
}

.viewDetailsButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-left: 0;
}

.viewDetailsButton:hover {
  background-color: #218838;
}

@media (hover: hover) and (pointer: fine) {
  .itemCard:hover .itemImage {
    filter: brightness(90%);
  }
}

@media (max-width: 768px) {
  .itemGrid {
    grid-template-columns: 1fr;
  }
  .container {
    padding-top: 20px; /* Adjust padding for smaller screens */
    min-height: calc(100vh - 60px); /* Ensure consistent height calculation */
    margin-top: 0px; /* Ensure margin is consistent */
    width: 100%; /* Use full width on mobile */
    background-color: whitesmoke;
    justify-content: flex-start; /* Ensure content is aligned to the top */
  }
}
